openapi: 3.2.0
info:
  title: NUGU facecan Subject API
  version: unknown
servers:
- url: https://apis.openapi.sk.com/nugufacecan
security:
- sec0: []
tags:
- name: Subject
paths:
  /v1/subject:
    post:
      summary: Subject Create
      description: ''
      operationId: subject-create
      parameters:
      - name: app-id
        in: header
        description: <a href="https://openapi.sk.com/mypage/project/" target="_blank">마이페이지>앱</a>>앱키(appKey) 탭에서 확인 가능
        required: true
        schema:
          type: string
          default: AWA57KSRXT
      - name: group-id
        in: header
        description: 추가 대상 group-id
        required: true
        schema:
          type: string
          default: 4NG7RZZNTG
      - name: subject-name
        in: header
        description: 영문, 숫자 혼용 가능<br>사람의 이름, 사번 등 ID 를 확인할 수 있도록 기입<br>가급적 Unique ID 권장, 동일한 app, group 내에서 중복되는 subject-name 사용 불가
        required: true
        schema:
          type: string
      - name: appKey
        in: header
        description: <a href="https://openapi.sk.com/mypage/project/" target="_blank">마이페이지>앱</a>>앱키(appKey) 탭에서 확인 가능
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"subject_name\": \"1110001_kim_yeonah\",\n\t\"subject_id\": \"ABCDE01234\",\n\t\"group_name\": \"happy_mart\"\n}"
              schema:
                type: object
                properties:
                  subject_name:
                    type: string
                    example: 1110001_kim_yeonah
                  subject_id:
                    type: string
                    example: ABCDE01234
                  group_name:
                    type: string
                    example: happy_mart
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Subject
    get:
      summary: Subject List
      description: ''
      operationId: subject-list
      parameters:
      - name: app-id
        in: header
        description: <a href="https://openapi.sk.com/mypage/project/" target="_blank">마이페이지>앱</a>>앱키(appKey) 탭에서 확인 가능
        required: true
        schema:
          type: string
          default: AWA57KSRXT
      - name: group-id
        in: header
        description: 조회 대상 group-id
        required: true
        schema:
          type: string
          default: 4NG7RZZNTG
      - name: subject-name
        in: header
        description: 전체 subject 데이터가 아닌 subject-name 에 해당하는 값만 조회하조 싶을 때 사용함<br>만약 subject-name 에 해당하는 subject 가 없으면 empty list 리턴
        schema:
          type: string
      - name: appKey
        in: header
        description: <a href="https://openapi.sk.com/mypage/project/" target="_blank">마이페이지>앱</a>>앱키(appKey) 탭에서 확인 가능
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n\t{\n\t\t\"subject_id\": \"ABCDE01234\",\n\t\t\"group_name\": \"happy_mart\",\n\t\t\"subject_name\": \"1110001_kim_yeonah\"\n\t},\n\t{\n\t\t\"subject_id\": \"ABCDE01235\",\n\t\t\"group_name\": \"happy_mart\",\n\t\t\"subject_name\": \"1110000_faker\"\n\t}\n]"
              schema:
                type: array
                items:
                  type: object
                  properties:
                    subject_id:
                      type: string
                      example: ABCDE01234
                    group_name:
                      type: string
                      example: happy_mart
                    subject_name:
                      type: string
                      example: 1110001_kim_yeonah
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Subject
  /v1/subject/{subject_id}:
    delete:
      summary: Subject Delete
      description: ''
      operationId: subject-delete
      parameters:
      - name: subject_id
        in: path
        schema:
          type: string
        required: true
      - name: app-id
        in: header
        description: <a href="https://openapi.sk.com/mypage/project/" target="_blank">마이페이지>앱</a>>앱키(appKey) 탭에서 확인 가능
        required: true
        schema:
          type: string
          default: AWA57KSRXT
      - name: group-id
        in: header
        description: 삭제 대상의 subject-id 가 속한 group-id삭제 대상의 subject-id 가 속한 group-id
        required: true
        schema:
          type: string
          default: 4NG7RZZNTG
      - name: appKey
        in: header
        description: <a href="https://openapi.sk.com/mypage/project/" target="_blank">마이페이지>앱</a>>앱키(appKey) 탭에서 확인 가능
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Subject
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: appKey
      x-default: YEWVxfrK4j8xTNQZURJ4z1Te4JTZs26v45fgmfn7
x-readme:
  headers: []
x-readme-fauxas: true
