openapi: 3.2.0
info:
  title: NUGU facecan Landmark API
  version: unknown
servers:
- url: https://apis.openapi.sk.com/nugufacecan
security:
- sec0: []
tags:
- name: Landmark
paths:
  /v1/landmark:
    post:
      summary: Face Landmark
      description: ''
      operationId: face-landmark-1
      parameters:
      - name: app-id
        in: header
        description: <a href="https://openapi.sk.com/mypage/project/" target="_blank">마이페이지>앱</a>>앱키(appKey) 탭에서 확인 가능
        required: true
        schema:
          type: string
          default: AWA57KSRXT
      - name: appKey
        in: header
        description: <a href="https://openapi.sk.com/mypage/project/" target="_blank">마이페이지>앱</a>>앱키(appKey) 탭에서 확인 가능
        required: true
        schema:
          type: string
      - name: Key
        in: header
        description: 이미지를 암호화하여 전달할 경우 해당 키 값을 전달해야 함.<br>키 값은 호출하는 쪽에서 AES-128 로 생성하고<br>이 키를 /api/v1/key 에서 얻어온 Public key 로 암호화 하여 전송
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                image:
                  type: string
                  description: Multipart form 메시지에 이름이 image라는 메시지로 이미지의 바이너리 데이터를 전달(파일 이름은 상관없음)
                  format: binary
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Landmark
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: appKey
      x-default: YEWVxfrK4j8xTNQZURJ4z1Te4JTZs26v45fgmfn7
x-readme:
  headers: []
x-readme-fauxas: true
