{"openapi":"3.1.0","info":{"title":"OVS","version":"1.0"},"servers":[{"url":"https://apis.openapi.sk.com/api/ovs"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"appKey","x-default":"YEWVxfrK4j8xTNQZURJ4z1Te4JTZs26v45fgmfn7"}}},"security":[{"sec0":[]}],"paths":{"/v20/company/info/me":{"get":{"summary":"내 회사 정보 조회","description":"","operationId":"내-회사-정보-조회","parameters":[{"name":"Content-Type","in":"header","description":"content type","schema":{"type":"string"}},{"name":"X-Authorization","in":"header","description":"auth token","schema":{"type":"string"}},{"name":"appKey","in":"header","description":"<a href=\"https://openapi.sk.com/mypage/project/\" target=\"_blank\">마이페이지>앱</a>>앱키(appKey) 탭에서 확인 가능","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": {\n    \"id\": \"f58ccd10-a0bd-11ea-a9b8-ff6a8104c32f\"\n  },\n    \"createdTime\": 1590654831577,\n      \"name\": \"skoa_l7xx73e3323ea2124bd89d5ce708bcb26fd8\",\n        \"serviceType\": \"skoa_l7xx73e3323ea2124bd89d5ce708bcb26fd8\",\n          \"master\": true,\n            \"masterId\": {\n              \"id\": \"f58ccd10-a0bd-11ea-a9b8-ff6a8104c32f\"\n            },\n              \"picPasswd\": null,\n                \"picName\": \"skoa_l7xx73e3323ea2124bd89d5ce708bcb26fd8\",\n                  \"picPhone\": null,\n                    \"picEmail\": \"l7xx73e3323ea2124bd89d5ce708bcb26fd8@skopenapi.com\",\n                      \"picDivision\": null,\n                        \"sktManagerName\": null,\n                          \"sktManagerEmail\": null,\n                            \"cooperationTask\": null,\n                              \"description\": null,\n                                \"notifyHost\": null,\n                                  \"notifyMsgType\": null,\n                                    \"notifyErrIdleMin\": 0,\n                                      \"pwAccess\": null,\n                                        \"dataAnalytics\": null,\n                                          \"bcn\": null,\n                                            \"tokenPrefix\": \"uio35\",\n                                              \"ovs\": true,\n                                                \"tokenExpr\": -1\n}"}},"schema":{"type":"object","properties":{"id":{"type":"object","properties":{"id":{"type":"string","example":"f58ccd10-a0bd-11ea-a9b8-ff6a8104c32f"}}},"createdTime":{"type":"integer","example":1590654831577,"default":0},"name":{"type":"string","example":"skoa_l7xx73e3323ea2124bd89d5ce708bcb26fd8"},"serviceType":{"type":"string","example":"skoa_l7xx73e3323ea2124bd89d5ce708bcb26fd8"},"master":{"type":"boolean","example":true,"default":true},"masterId":{"type":"object","properties":{"id":{"type":"string","example":"f58ccd10-a0bd-11ea-a9b8-ff6a8104c32f"}}},"picPasswd":{},"picName":{"type":"string","example":"skoa_l7xx73e3323ea2124bd89d5ce708bcb26fd8"},"picPhone":{},"picEmail":{"type":"string","example":"l7xx73e3323ea2124bd89d5ce708bcb26fd8@skopenapi.com"},"picDivision":{},"sktManagerName":{},"sktManagerEmail":{},"cooperationTask":{},"description":{},"notifyHost":{},"notifyMsgType":{},"notifyErrIdleMin":{"type":"integer","example":0,"default":0},"pwAccess":{},"dataAnalytics":{},"bcn":{},"tokenPrefix":{"type":"string","example":"uio35"},"ovs":{"type":"boolean","example":true,"default":true},"tokenExpr":{"type":"integer","example":-1,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":""}}}}}},"deprecated":false}},"/v20/company/info/devices/{companyId}":{"get":{"summary":"회사 전체 단말 리스트 조회","description":"","operationId":"회사-전체-단말-리스트-조회","parameters":[{"name":"Content-Type","in":"header","description":"content type","schema":{"type":"string"}},{"name":"X-Authorization","in":"header","description":"auth token","schema":{"type":"string"}},{"name":"appKey","in":"header","description":"<a href=\"https://openapi.sk.com/mypage/project/\" target=\"_blank\">마이페이지>앱</a>>앱키(appKey) 탭에서 확인 가능","schema":{"type":"string"}},{"name":"companyId","in":"path","description":"회사ID(companyId)는 “내 회사 정보 조회” API로 확인","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"id\": {\n        \"id\": \"ee874290-abba-11ea-b482-911940102f00\"\n      },\n      \"createdTime\": 1591862994142,\n      \"companyId\": {\n        \"id\": \"f58ccd10-a0bd-11ea-a9b8-ff6a8104c32f\"\n      },\n      \"vendor\": \"SKT1\",\n      \"type\": \"OVC-G\",\n      \"additionalInfo\": null,\n      \"activationRequired\": false,\n      \"serialNo\": \"uio35123451234512345\",\n      \"credentialsId\": null\n    },\n    {\n      \"id\": {\n        \"id\": \"37c6b060-a0be-11ea-a9b8-ff6a8104c32f\"\n      },\n      \"createdTime\": 1590654942693,\n      \"companyId\": {\n        \"id\": \"f58ccd10-a0bd-11ea-a9b8-ff6a8104c32f\"\n      },\n      \"vendor\": \"SKT1\",\n      \"type\": \"OVC-G\",\n      \"additionalInfo\": null,\n      \"activationRequired\": false,\n      \"serialNo\": \"uio35fine1236\",\n      \"credentialsId\": null\n    }\n  ],\n    \"nextPageLink\": null,\n      \"hasNext\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"object","properties":{"id":{"type":"string","example":"ee874290-abba-11ea-b482-911940102f00"}}},"createdTime":{"type":"integer","example":1591862994142,"default":0},"companyId":{"type":"object","properties":{"id":{"type":"string","example":"f58ccd10-a0bd-11ea-a9b8-ff6a8104c32f"}}},"vendor":{"type":"string","example":"SKT1"},"type":{"type":"string","example":"OVC-G"},"additionalInfo":{},"activationRequired":{"type":"boolean","example":false,"default":true},"serialNo":{"type":"string","example":"uio35123451234512345"},"credentialsId":{}}}},"nextPageLink":{},"hasNext":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v20/company/info/{companyId}":{"get":{"summary":"회사 정보 조회","description":"","operationId":"회사-정보-조회","parameters":[{"name":"Content-Type","in":"header","description":"content type","schema":{"type":"string"}},{"name":"X-Authorization","in":"header","description":"auth token of each company","schema":{"type":"string"}},{"name":"appKey","in":"header","description":"<a href=\"https://openapi.sk.com/mypage/project/\" target=\"_blank\">마이페이지>앱</a>>앱키(appKey) 탭에서 확인 가능","schema":{"type":"string"}},{"name":"companyId","in":"path","description":"회사ID(companyId)는 “내 회사 정보 조회” API로 확인","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{   \n  \"id\": {\n    \"id\": \"f58ccd10-a0bd-11ea-a9b8-ff6a8104c32f\"\n  },\n    \"createdTime\": 1590654831577,\n      \"name\": \"skoa_l7xx73e3323ea2124bd89d5ce708bcb26fd8\",\n        \"serviceType\": \"skoa_l7xx73e3323ea2124bd89d5ce708bcb26fd8\",\n          \"master\": true,\n            \"masterId\": {\n              \"id\": \"f58ccd10-a0bd-11ea-a9b8-ff6a8104c32f\"\n            },\n              \"picPasswd\": null,\n                \"picName\": \"skoa_l7xx73e3323ea2124bd89d5ce708bcb26fd8\",\n                  \"picPhone\": null,\n                    \"picEmail\": \"l7xx73e3323ea2124bd89d5ce708bcb26fd8@skopenapi.com\",\n                      \"picDivision\": null,\n                        \"sktManagerName\": null,\n                          \"sktManagerEmail\": null,\n                            \"cooperationTask\": null,\n                              \"description\": null,\n                                \"notifyHost\": null,\n                                  \"notifyMsgType\": null,\n                                    \"notifyErrIdleMin\": 0,\n                                      \"pwAccess\": null,\n                                        \"dataAnalytics\": null,\n                                          \"bcn\": null,\n                                            \"tokenPrefix\": \"uio35\",\n                                              \"ovs\": true,\n                                                \"tokenExpr\": -1\n}"}},"schema":{"type":"object","properties":{"id":{"type":"object","properties":{"id":{"type":"string","example":"f58ccd10-a0bd-11ea-a9b8-ff6a8104c32f"}}},"createdTime":{"type":"integer","example":1590654831577,"default":0},"name":{"type":"string","example":"skoa_l7xx73e3323ea2124bd89d5ce708bcb26fd8"},"serviceType":{"type":"string","example":"skoa_l7xx73e3323ea2124bd89d5ce708bcb26fd8"},"master":{"type":"boolean","example":true,"default":true},"masterId":{"type":"object","properties":{"id":{"type":"string","example":"f58ccd10-a0bd-11ea-a9b8-ff6a8104c32f"}}},"picPasswd":{},"picName":{"type":"string","example":"skoa_l7xx73e3323ea2124bd89d5ce708bcb26fd8"},"picPhone":{},"picEmail":{"type":"string","example":"l7xx73e3323ea2124bd89d5ce708bcb26fd8@skopenapi.com"},"picDivision":{},"sktManagerName":{},"sktManagerEmail":{},"cooperationTask":{},"description":{},"notifyHost":{},"notifyMsgType":{},"notifyErrIdleMin":{"type":"integer","example":0,"default":0},"pwAccess":{},"dataAnalytics":{},"bcn":{},"tokenPrefix":{"type":"string","example":"uio35"},"ovs":{"type":"boolean","example":true,"default":true},"tokenExpr":{"type":"integer","example":-1,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v20/company/info/devices/cnt/{companyId}":{"get":{"summary":"회사 전체 단말 수 조회","description":"","operationId":"회사-전체-단말-수-조회","parameters":[{"name":"Content-Type","in":"header","description":"content type","schema":{"type":"string"}},{"name":"X-Authorization","in":"header","description":"auth token","schema":{"type":"string"}},{"name":"appKey","in":"header","description":"<a href=\"https://openapi.sk.com/mypage/project/\" target=\"_blank\">마이페이지>앱</a>>앱키(appKey) 탭에서 확인 가능","schema":{"type":"string"}},{"name":"companyId","in":"path","description":"회사ID(companyId)는 “내 회사 정보 조회” API로 확인","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"7000"}},"schema":{"type":"integer","example":7000,"default":0}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v20/device":{"post":{"summary":"단말 등록","description":"","operationId":"단말-등록","parameters":[{"name":"Content-Type","in":"header","description":"content type","schema":{"type":"string"}},{"name":"X-Authorization","in":"header","description":"auth token","schema":{"type":"string"}},{"name":"appKey","in":"header","description":"<a href=\"https://openapi.sk.com/mypage/project/\" target=\"_blank\">마이페이지>앱</a>>앱키(appKey) 탭에서 확인 가능","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"vendor":{"type":"string","description":"company name"},"type":{"type":"string","description":"device type(OVC-G or OVC-M)"},"credentialsId":{"type":"string","description":"device credentails (5 digit company prefix + 15 digit credentails)"},"serialNo":{"type":"string","description":"device serialNo (5 digit company prefix + unique serial number)"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": {\n    \"id\": \"128fe3e0-ab98-11ea-b482-911940102f00\"\n  },\n    \"createdTime\": 1591848022149,\n      \"companyId\": {\n        \"id\": \"f58ccd10-a0bd-11ea-a9b8-ff6a8104c32f\"\n      },\n        \"vendor\": \"SKT\",\n          \"type\": \"OVC-G\",\n            \"additionalInfo\": null,\n              \"activationRequired\": false,\n                \"serialNo\": \"uio3512345678911234\",\n                  \"credentialsId\": \"uio35123456789012345\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"object","properties":{"id":{"type":"string","example":"128fe3e0-ab98-11ea-b482-911940102f00"}}},"createdTime":{"type":"integer","example":1591848022149,"default":0},"companyId":{"type":"object","properties":{"id":{"type":"string","example":"f58ccd10-a0bd-11ea-a9b8-ff6a8104c32f"}}},"vendor":{"type":"string","example":"SKT"},"type":{"type":"string","example":"OVC-G"},"additionalInfo":{},"activationRequired":{"type":"boolean","example":false,"default":true},"serialNo":{"type":"string","example":"uio3512345678911234"},"credentialsId":{"type":"string","example":"uio35123456789012345"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v20/device/{serialNo}":{"get":{"summary":"단말 정보 조회","description":"","operationId":"단말-정보-조회","parameters":[{"name":"serialNo","in":"path","schema":{"type":"string"},"required":true},{"name":"Content-Type","in":"header","description":"content type","schema":{"type":"string"}},{"name":"X-Authorization","in":"header","description":"auth token","schema":{"type":"string"}},{"name":"appKey","in":"header","description":"<a href=\"https://openapi.sk.com/mypage/project/\" target=\"_blank\">마이페이지>앱</a>>앱키(appKey) 탭에서 확인 가능","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"// response 200 OK only, no data body"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"delete":{"summary":"단말 삭제","description":"","operationId":"단말-삭제","parameters":[{"name":"serialNo","in":"path","schema":{"type":"string"},"required":true},{"name":"Content-Type","in":"header","description":"content type","schema":{"type":"string"}},{"name":"X-Authorization","in":"header","description":"auth token","schema":{"type":"string"}},{"name":"appKey","in":"header","description":"<a href=\"https://openapi.sk.com/mypage/project/\" target=\"_blank\">마이페이지>앱</a>>앱키(appKey) 탭에서 확인 가능","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"text/plain":{"examples":{"Result":{"value":"// response 200 OK only, no data body"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v20/statistics/device/event/{serialNo}":{"post":{"summary":"단말별 메시지 전달","description":"","operationId":"단말별-메시지-전달","parameters":[{"name":"serialNo","in":"path","description":"단말의 serialNo","schema":{"type":"string"},"required":true},{"name":"Content-Type","in":"header","description":"content type","schema":{"type":"string"}},{"name":"X-Authorization","in":"header","description":"auth token","schema":{"type":"string"}},{"name":"appKey","in":"header","description":"<a href=\"https://openapi.sk.com/mypage/project/\" target=\"_blank\">마이페이지>앱</a>>앱키(appKey) 탭에서 확인 가능","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"year":{"type":"string","description":"요청하고자 하는 특정 연도"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"message\": {\n    \"type\": 9999,\n      \"timestamp\": 1590654942693,\n        \"message\": \"test message\"\n  },\n    \"serialNo\": \"uio35fine1236\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"object","properties":{"type":{"type":"integer","example":9999,"default":0},"timestamp":{"type":"integer","example":1590654942693,"default":0},"message":{"type":"string","example":"test message"}}},"serialNo":{"type":"string","example":"uio35fine1236"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"get":{"summary":"단말별 이벤트 통계","description":"","operationId":"단말별-이벤트-통계","parameters":[{"name":"Content-Type","in":"header","description":"content type","schema":{"type":"string"}},{"name":"X-Authorization","in":"header","description":"auth token","schema":{"type":"string"}},{"name":"appKey","in":"header","description":"<a href=\"https://openapi.sk.com/mypage/project/\" target=\"_blank\">마이페이지>앱</a>>앱키(appKey) 탭에서 확인 가능","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"year":{"type":"string","description":"요청하고자 하는 특정 연도"},"month":{"type":"string","description":"요청하고자 하는 특정월"},"day":{"type":"string","description":"요청하고자 하는 특정일"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"serialNo\":\"bjx84_ovs_server1\",\n    \"requestDate\":{\n      \"year\":2020,\n        \"month\":7,\n          \"day\":1\n    },\n      \"statistics\":{\n        \"event\":{\n          \"msgNotification\":7\n        }\n      }\n}"}},"schema":{"type":"object","properties":{"serialNo":{"type":"string","example":"bjx84_ovs_server1"},"requestDate":{"type":"object","properties":{"year":{"type":"integer","example":2020,"default":0},"month":{"type":"integer","example":7,"default":0},"day":{"type":"integer","example":1,"default":0}}},"statistics":{"type":"object","properties":{"event":{"type":"object","properties":{"msgNotification":{"type":"integer","example":7,"default":0}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v20/statistics/company/event/{companyId}":{"get":{"summary":"회사별 이벤트 통계","description":"","operationId":"회사별-이벤트-통계","parameters":[{"name":"companyId","in":"path","description":"회사ID(companyId)는 “내 회사 정보 조회” API로 확인","schema":{"type":"string"},"required":true},{"name":"Content-Type","in":"header","description":"content type","schema":{"type":"string"}},{"name":"X-Authorization","in":"header","description":"auth token","schema":{"type":"string"}},{"name":"appKey","in":"header","description":"<a href=\"https://openapi.sk.com/mypage/project/\" target=\"_blank\">마이페이지>앱</a>>앱키(appKey) 탭에서 확인 가능","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"year":{"type":"string","description":"요청하고자 하는 특정 연도"},"month":{"type":"string","description":"요청하고자 하는 특정월"},"day":{"type":"string","description":"요청하고자 하는 특정일"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"companyId\":\"52631da0-b5ef-11ea-8f00-6730e8ef1a9e\",\n    \"requestDate\":{\n      \"year\":2020,\n        \"month\":7,\n          \"day\":1\n    },\n      \"statistics\":{\n        \"event\":{\n          \"msgNotification\":16\n        }\n      }\n}"}},"schema":{"type":"object","properties":{"companyId":{"type":"string","example":"52631da0-b5ef-11ea-8f00-6730e8ef1a9e"},"requestDate":{"type":"object","properties":{"year":{"type":"integer","example":2020,"default":0},"month":{"type":"integer","example":7,"default":0},"day":{"type":"integer","example":1,"default":0}}},"statistics":{"type":"object","properties":{"event":{"type":"object","properties":{"msgNotification":{"type":"integer","example":16,"default":0}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v20/message/company/{companyId}":{"post":{"summary":"전체 단말 메시지 전달","description":"","operationId":"전체-단말-메시지-전달","parameters":[{"name":"companyId","in":"path","description":"회사ID(companyId)는 “내 회사 정보 조회” API로 확인","schema":{"type":"string"},"required":true},{"name":"Content-Type","in":"header","description":"content type","schema":{"type":"string"}},{"name":"X-Authorization","in":"header","description":"auth token","schema":{"type":"string"}},{"name":"appKey","in":"header","description":"<a href=\"https://openapi.sk.com/mypage/project/\" target=\"_blank\">마이페이지>앱</a>>앱키(appKey) 탭에서 확인 가능","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","description":"type of message (OTA, event ID et al.)"},"timestamp":{"type":"string","description":"linux epoch time in miliseconds"},"message":{"type":"string","description":"message contents"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"message\": {\n    \"type\": 9999,\n      \"timestamp\": 1590654942693,\n        \"message\": \"test message all\"\n  },\n    \"devices\": [\n      {\n        \"serialNo\": \"uio35fine1236\"\n      },\n      {\n        \"serialNo\": \"uio35123451234512345\"\n      }\n    ]\n}"}},"schema":{"type":"object","properties":{"message":{"type":"object","properties":{"type":{"type":"integer","example":9999,"default":0},"timestamp":{"type":"integer","example":1590654942693,"default":0},"message":{"type":"string","example":"test message all"}}},"devices":{"type":"array","items":{"type":"object","properties":{"serialNo":{"type":"string","example":"uio35fine1236"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v20/statistics/event/raw":{"get":{"summary":"이벤트 Raw Data 정보 조회","description":"","operationId":"이벤트-raw-data-정보-조회","parameters":[{"name":"Content-Type","in":"header","description":"content type","schema":{"type":"string"}},{"name":"X-Authorization","in":"header","description":"auth token","schema":{"type":"string"}},{"name":"appKey","in":"header","description":"<a href=\"https://openapi.sk.com/mypage/project/\" target=\"_blank\">마이페이지>앱</a>>앱키(appKey) 탭에서 확인 가능","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"year":{"type":"string","description":"요청하고자 하는 특정 연도"},"month":{"type":"string","description":"요청하고자 하는 특정월"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"url\":\"https://ovs.sktelecom.com:8082/repository/wioadlsl.zip\",\n    \"zip_password\":\"abcd1234\",\n      \"expiry\":\"2021-04-31\"\n}"}},"schema":{"type":"object","properties":{"url":{"type":"string","example":"https://ovs.sktelecom.com:8082/repository/wioadlsl.zip"},"zip_password":{"type":"string","example":"abcd1234"},"expiry":{"type":"string","example":"2021-04-31"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[]},"x-readme-fauxas":true}