openapi: 3.2.0
info:
  title: A.X tts Voice API
  version: '1.0'
servers:
- url: https://apis.openapi.sk.com/axtts
security:
- sec0: []
tags:
- name: Voice
paths:
  /voice:
    get:
      summary: Get Voices
      description: 해당 모델에서 지원하고 있는 화자 정보를 확인할 수 있고, 모델 Name은 <a href="https://ax-tts-skopenapi.readme.io/reference/tts-model-list-1">모델 List</a>에서 확인 가능합니다.
      operationId: get-voices
      parameters:
      - name: model
        in: query
        description: 음성합성 Model
        required: true
        schema:
          type: string
          enum:
          - axtts-2-6
          - axtts-2-6-ainews
          - axtts-2-1
          - axtts-2-1-dialect
          default: axtts-2-6
      - name: appKey
        in: header
        description: <a href="https://openapi.sk.com/mypage/project/" target="_blank">마이페이지>앱</a>>앱키(appKey) 탭에서 확인 가능
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            text/plain:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            text/plain:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Voice
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: appKey
      x-default: YEWVxfrK4j8xTNQZURJ4z1Te4JTZs26v45fgmfn7
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
